.leaflet-container { height: 100%; }

button{
    padding: 10%
}

.temperatura{
    position: absolute;
    z-index: 999999;
    opacity: 0.5;
    transition: 25s;
}

.temperatura:hover {opacity: 1}

#popup {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    /* Animación que durará 2 segundos*/
    animation:autopopup 2s;
    z-index: 99999999999999;
 }
 .hidden{
    visibility: hidden;
 }

 keyframes autopopup {
    from {opacity: 0;margin-top:-200px;}
    to {opacity: 1;}
 }

 #popup:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 999;
    transition:all 1s;
 }
 .popup-contenedor {
    position: relative;
    margin:7% auto;
    padding:30px 50px;
    background-color: #fafafa;
    color:#333;
    border-radius: 3px;
    width:50%;
 }
 a.popup-cerrar {
    position: absolute;
    top:3px;
    right:3px;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
 }

@media (max-width: 600px) {
    .temperatura {
        margin-left: 60%;
        margin-top: -80%;
    }
  }

  @media (max-width: 800px) {
    .temperatura {
        margin-left: 60%;
        margin-top: -70%;
    }
  }

  @media (max-width: 1000px) {
    .temperatura {
        margin-left: 60%;
        margin-top: -60%;
    }
  }

  @media (max-width: 1500px) {
    .temperatura {
        margin-left: 60%;
        margin-top: -45%;
    }
  }